body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  background-color: #f5ba13;
  margin: auto -16px;
padding: 16px 32px;
box-shadow: 0 0 10px 0 black inset;
font-family: bold;
font-size: 30px;
  color: white;
  text-align: center;
}

.footer{
  background-color: #f5ba13;
  margin: auto -16px;
margin-top: 43%;
  padding: 16px 32px;
  text-align: center;
  box-shadow: 0 0 10px 0 black inset;
}

.note{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;

}
